@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=_Xm5-H86tzKDdAPa-KPQZ-AC_COcRycquHlL6EXUokzw&skey=d1f5d4df18f8b025&v=v16) format('woff');
}
